.git
.github
.gitignore
.idea
.env.local
.env.*.local
.web-server-pid
var/
vendor/
public/assets/
public/bundles/
assets/vendor/
tests/
docs/
contrib/
examples/
phpunit.xml
.phpunit.cache/
Dockerfile
compose.yaml
compose.override.yaml
.dockerignore
*.md
