{% extends 'base.html.twig' %}

{% block title %}{{ 'errors.not_found_title'|trans }} · Strichliste{% endblock %}

{% block main %}
    <div class="error-page">
        <div class="error-page__code">404</div>
        <div class="error-page__message">{{ 'errors.not_found_body'|trans }}</div>
        <twig:Button href="{{ path('home') }}" variant="highlight">{{ 'errors.back_home'|trans }}</twig:Button>
    </div>
{% endblock %}
